.haboutt{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        flex-wrap: wrap;
        gap: 5em;
        /* text-align: startTransition; */

    }
.habouttImg{
        max-width: 450px;
        height: 400px;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.item{
    max-width: 450px;
}
