.cond-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    max-width: 550px;
}

.con-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}
.con-add .add{
    max-width: 220px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* line-height: 0px; */
}
.con-add .add hr{
    width: 50px;
    border: 2px solid red;
    color: red;
    margin-right: 150px;
    
}
.con-add .add .soc-ico{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}