.header{
    background-image: url("../Images/hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 20px ;
}
.contents{
    width: 300px;
    color: white;
}
.contents img{
    width: 100%;
    display: none;
}

@media screen and (max-width: 767px){
    .header{
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .contents img{
        display: block;
        border-radius: 20px;
    }
}