.header{
    background-image: url("../Images/hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    position: relative;
    width: 100%;
    height: 85vh;
}
.contents{
    width: 400px;
    position: absolute;
    color: white;
    left: 3em;
    bottom: 7em;
}
.bmi-container{
    clip-path: polygon(0% 0%, 100% 0, 84% 61%, 74% 100%, 0% 100%);
    background-color: black;
    color: white;
    width: 75%;
    position: absolute;
    bottom: -30%;
    left: 0;
    height: 13em;
}
/* .imgd {
    animation: key 10s infinite;
} */
.contents img{
    width: 100%;
}
/* @keyframes key {
    0%{transform: scale(1);}
    50%{transform: scale(2);}
    100%{transform: scale(1);}
} */
@media screen and (max-width: 767px){
    .header{
        padding: 50px;
    }
}