.footer{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    flex-wrap: wrap;
    gap: 2em;
    background-color: black;
    color: white;
    /* background: fixed; */
}

.footer .footer-flex{
    width: 230px;
}
.footer .footer-flex img{
    width: 50px;
    height: 50px;
}
.footer div .soc-icons{
    display: flex;
    gap: 1em;
}
.footer-flex .soc-icons div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer-flex h2{
    font-size: 800;
    font-size: larger;
}

.footer-flex ul{
    list-style: none;
}
