/* 
h2{
        font-size: 32px;
        font-weight: 600;
}
p{
        font-size: 18px;
        font-weight: 500;
} */
.class-bu:hover {
        background-color: white;
}

.class-bu a:hover {
        color: red;
}

.classes-container {
        position: relative;
        width: 100%;
        /* width: 300px; */
        /* height: 300px; */
        border-radius: 20px;
        overflow: hidden;
        color: white;

}

.classes-container::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#ffffff28, black);
        z-index: 1;
}

.img {
        position: absolute;
        width: 100%;
        height: 100%;
}

/* img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.under {
        position: absolute;
        top: 100%;
        padding: 2.5em 0;
        padding-right: 2em;
        cursor: pointer;
        transition: all .4s;
}

.classes-container:hover .under {
        display: block;
        transition: 0.5s ease-out;
        top: 45%;
}

.classes-container:hover .first-item {
        transition: 0.5s ease-in-out;
        padding-bottom: 4em;
}

.cla-header {
        position: relative;
        padding-bottom: 1.8em;
}

.cla-header::before {
        content: "";
        position: absolute;
        bottom: 20px;
        width: 2em;
        height: 3px;
        background-color: #ff051a;
}

.subheading {
        padding-top: 2em;
        display: inline;
}

.subheading .coach {
        margin-right: 20px;
}

.clas-items {
        position: absolute;
        bottom: 2em;
        padding: 2em 2em 0 2em;
        width: 100%;
        cursor: pointer;
        z-index: 2;
        overflow: hidden;
}

.subheading,
.under {
        color: #ffffffad;
}

.class-butt {
        position: relative;
        border: none;
        padding: 0.5em 1.2em;
        margin-top: 1em;
        font-size: 1em;
        background-color: #fff;
        cursor: pointer;
}

.border-behind {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 10px;
        bottom: 10px;
        border: 1px solid #fff;
        z-index: -1;
        transition: all .4s
}

.class-butt:hover .border-behind {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        bottom: 0px;
        border: 1px solid #fff;
        z-index: -1;
        transition: 0.3s all;
}

.class-butt:hover,
.class-butt:hover .class-butt a {
        background-color: #ff051a;
        color: #fff;
}

.class-butt a {
        text-decoration: none;
        color: #ff051a;
}

.class-butt a:hover {
        color: white;
}

.mai-container .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #ff0336;
        opacity: 0;
        transition: .5s ease;
        border-radius: 50px;
        cursor: pointer;
}

.mai-container:hover .overlay {
        opacity: 0.5;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.but-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
}

.but-container .but-flex {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.but-flex .but-contai a {
        text-decoration: none;
        color: white;
}

.but-container .but-flex .but-contai {
        padding: 3px 10px;
        background-color: red;
        border: 1px solid red;
        border-radius: 10px;

}
