.upcom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    background-image: url("../Images/clas-bgImg.png");
    padding: 50px 0px;

}
.upcom .container-sess{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 20px;
    gap: 2em;

}
.upcom .class-ses{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    background-color: white;
}
.upcom-header{
    max-width: 500px;
    text-align: center;
}
.class-ses .img{
    width: 100%;
}
.class-ses .img img{
    width: 100%;
    height: 270px;
}
.cla-time{
    position: absolute;
    width: 80%;
    height: 50px;
    background-color: red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 700;
    bottom: 0.05px;
    left: 25px;
}