.habout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 20px 0;
   
}
.habout .img{
    max-width: 400px;
    position: relative;
}
.img .motiv{
    background-color: white;
    width: 180px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 10px, 10px 10px black;
}
.motiv .help{
    font-size: 16px;
    font-weight: 520;
}
.habout .img .about-img{
    width: 100%;
    border-radius: 20px;
}
.content {
    max-width: 500px;
    /* display: flex;
    flex-direction: column; */
}
.content div{
    display: flex;
    flex-direction: column;

}
.lor-con{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.content .mid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .mid img{
    width: 50px;
    height: 50px;
}
.mid ul{
    list-style: none;
}
.content .name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 22px;
    line-height: 0;
}